body {
	background-image: url('/assets/main_bg.gif');
}

.main {
	border: 1px solid #ccc;
	background-color: white;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 100%;
	padding: 15px;
}